
.a{
   text-align: center;

}


.flex-container {
    display: flex;
    justify-content: center;
}

.box {
 
    width: 350px;
    height: 150px;
    background-color:rgba(79, 72, 182, 0.438) ; 
    margin: 10px;
    text-align: center;
}




   
 body {
       margin-top: 400px;

    }
    

.button{
    margin-left:12px;
}
